:root {
	--color__theme__bg-dark-gray: #625f63;
	--color__theme__bg--gray: #72727e;
	--color__theme__bg--light-gray: #797a9e;
	--color__theme__bg--accent: #9893da;
	--color__theme__bg--accent-light: #bbbdf6;
}

body {
	margin: unset;
	background-color: var(--color__theme__bg-dark-gray);
}

a {
	/* no underline on links */
	text-decoration: none;
	color: var(--color__theme__bg--accent);
}
.logo {
	content: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
	margin: 0 auto;
	padding: 20px;
	width: 280px;
	height: 480px;
	background-color: var(--color__theme__bg--dark-gray);
	color: var(--color__theme__bg--accent);
	font-size: 22px;
	letter-spacing: 0.2em;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(82, 71, 83, 0.523);
}
