body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
    background-color: #e9e6e3;
}

h1 {
	text-align: left;
    margin-top: 2em;
}

img {
	width: 100%;
    height: auto;
    object-fit: cover;
    min-width: 360px;
    /* max-width: 370px; */
}



.container, .waiting-list{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    padding: 4% 5%;
    grid-gap: 4em;
	font-size: 20px;
}

.eyes-images, .img1, .img2{
	display: flex;
    justify-content: center;
    width: 100%;


}

.img1 {
    height: 400px;
    max-width: 600px;
}

.eye, .lense, .img1, .img2 {
	
    max-width: 100%;
    width: 50%;    
    margin-top: 2em;
	border-radius:20px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.eye {
	height: 400px;
}

.product-info {
	grid-column: 1;
	grid-row: 1;
}

.product-info2 {
	grid-column: 2;
	grid-row: 2;
}

.lense {
	grid-column: 1;
	grid-row: 2;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        padding: 4% 5%;
        grid-gap: 1em;
    }
}

button {
    display: flex;
    gap: 1em;
    width: 20em;
    height: 5em;
    grid-column: 2;
    grid-row: 1;
    background-color:#72727E;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    border-radius:10px;
    position: relative;
    margin-top: 4em;
    
}




