body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

h1 {
	text-align: left;
    margin-top: 2em;
}

img {
    object-fit: cover;
}


    .img2 > img {
    max-width: 375px;
    min-width: 295px;
    }

.section1, .waiting-list{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    padding: 4% 5%;
    grid-gap: 4em;
	font-size: 20px;
    margin-left:10%;
    margin-right: 10%;

}


.eye, .lense, .img1, .img2{
   display: flex;
   justify-content: center;  
    margin-top: 2em;
	border-radius:20px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* .img1, .img2 {
    margin-left: 4em;
} */


.product-info {
	grid-column: 1;
	grid-row: 1;
    /* margin-left: 4em;
    margin-top: 1em; */
}

.product-info2 {
	grid-column: 2;
	grid-row: 2;
    /* margin-right: 4em;
    margin-top: 1em; */
}

/* .description {
    margin-right: 4em;
}

.product-description {
    margin-right: 4em;
} */

.lense {
	grid-column: 1;
	grid-row: 2;
    /* position: relative;
    left: 15%; */
}

.logo img {
    padding-left: var(--side-bar-width);
    width: 300px;
    max-width: 100%;
    min-width: 180px;
}

@media screen and (max-width: 900px) {
    .section1, .waiting-list {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 2% 3%;
        margin-left: 1em;
        margin-right: 1em;

        
    }

    .eye, .lense, .img1, .img2 {
        max-width: 375px;
        min-width: 375px;
   
    }

    .product-info, .product-info2, .description, .product-description {
        margin: 0;
        padding:0;
        font-size: 25px;
    }

    .button {
        width: 100%;
        max-width: none;
        margin-top: 1em; 
    }
}

@media screen and (min-width:300px) {
    .eye, .lense, .img1, .img2 {
        max-width: 375px;
        min-width: 375px;
        margin:1em 0;
   
    }
}

.list {
    display: flex;
    gap: 1em;
    width: 13em;
    height: 1em;
    grid-column: 2;
    grid-row: 1;
    background-color: #BBBDF6;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    border-radius:10px;
    margin-top: 4em;
    padding: 2em;
    font-size: 19px;
    border: none;
}

.list:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);

}

