*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
}

.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}