/* Basic styling for the footer */
footer {
    background-color: #090909;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.footer-content > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-content > ul li {
    display: inline;
    margin-right: 20px;
  }

  .footer-content >  ul li:last-child {
    margin-right: 0;
  }

  .footer-content > ul li a {
    color: #fff;
    text-decoration: none;
  }

    .footer-content > p {
    margin: 0;
    font-size: 14px;
  }
