

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	box-sizing: border-box;
	/* background-color: rgb(212, 212, 220); */
}

/* --------- Main layout --------- */

/* header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 9999;
} */

.logo img {
	padding-left: var(--side-bar-width);
	width: 300px;
	max-width: 100%;
	min-width: 180px;
}

.sidebar {
	position: fixed;
	/* margin-top: var(--top-bar-height); */
	width: var(--side-bar-width);
	height: 100%;
	/* background-color: rgba(57, 62, 57, 0.071); */
}

.scrollable-content {
	margin-top: var(--top-bar-height);
	margin-left: var(--side-bar-width);
	height: 100%;
	/* background-color: rgb(217, 217, 226); */
	color: black;
}

/* menu */
/* .nav ul {
	list-style: none;
	display: flex;
}

.nav li {
	margin-right: 40px;
}

.nav a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-size: clamp(1rem, 1.5vw, 1.2rem);
} */

/* --- End main layout --*/

/* MOBILE RESPONSIVE HEADER  */
/* Remove this and replace with new menu when done */
/* @media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
	}

	.nav {
		margin-top: 10px;
		padding-right: 20px;
	}

	.nav ul {
		flex-direction: column;
	}

	.nav li {
		margin-right: 0;
		margin-bottom: 10px;
	}
} */

/* hide scrollbar */
::-webkit-scrollbar {
	background: transparent;
	width: 0px;
}

