html {
	scroll-behavior: smooth;
	font-family: "Titillium Web", sans-serif;
}

h1 {
	font-size: 4em;
	text-align: center;
}

.scroll-button {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 40px;
	background-color: #3b3b3b;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cacaca;
	font-size: 24px;
	text-decoration: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.scroll-button-icon {
	width: 0;
	height: 0;
	margin-top: 5px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid rgb(128, 128, 128);
}
.arrow-icon {
	line-height: 1; /* Center the arrow vertically */
	margin-bottom: 3px;
}

/*Product-page*/
.product-title {
	text-align: left;
	margin-top: 2em;
}

.product-title {
	text-align: left;
	margin-top: 2em;
}

.product-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 2fr;
	padding: 4% 4%;
	grid-gap: 4em;
}

.product-image {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn-row {
	display: flex;
	gap: 1em;
}

.buy,
.buy-pro {
	background-color: #bbbdf6;
	padding: 0.5em 1em;
}

.learn,
.learn-pro {
	background-color: #72727e;
	padding: 0.5em 1em;
	color: white;
}

.gray {
	max-width: 80%;
	min-width: 375px;
	height: auto;
	display: flex;
	margin: 0 auto;
}

.gray:hover,
.gold:hover {
	box-shadow: 0 0 50px rgba(0, 0, 0, 15);
}

.gray,
.gold {
	width: 100%;
	max-width: 100%;
	width: 50%;
	margin-top: 2em;
	border-radius: 20px;
	overflow: hidden;
}

.buy:hover,
.learn:hover,
.buy-pro:hover,
.learn-pro:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

@media (max-width: 768px) {
	.product-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		padding: 4% 5%;
		grid-gap: 1em;
	}
}

.container__bg {
	width: 100%;
	height: 100%;
	/* background-image: /* image here
     /* animation: rotate_bg
*/
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

.menu__item {
	padding-top: 0.5em;
}

.menu__item > a {
	text-decoration: none;
	color: white;
}

.flexboxing {
	display: flex;
}
/* end back ground stuffs */
