@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;700&display=swap");

body {
	margin: unset;
	background-color: #121212;
	font-family: "Outfit", sans-serif;
}

:-webkit ::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	margin: 40px;
	display: flex;
	width: 100vw;
	height: 4000px;
	flex-direction: column;
	justify-content: center;

	/* background-color: #131313; */
	align-items: center;
	overflow: hidden;
}

.container__content {
	padding: 20px;
	height: 90%;
	width: 50%;
	border-radius: 8px;
	background-color: rgb(75, 64, 84);
	background-image: url("../resources/images/layer1.svg");
	background-position-y: 100px;
	box-shadow: 0px 0px 10px rgba(82, 71, 83, 0.523);
}

.card {
	height: 100%;
	background-color: rgba(100, 43, 151, 0.083);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	border: 1px #fefefe14 solid;
}

.card__text-light {
	padding: 10px;
	color: rgb(214, 207, 207);
	text-shadow: 0px 0px 10px rgba(189, 172, 172, 0.447);
	text-align: center;
}

.card__text,
.card__text-small {
	text-shadow: 0px 0px 6px rgba(62, 59, 59, 0.476);
	padding: 10px;
	color: rgb(12, 12, 12);
}

.card__text-small {
	font-size: 12px;
	padding: 0px;
	text-align: center;
}

.card__text-highlight {
	font-size: 19px;
	padding: 20px;
	text-align: center;
	color: #bbdf1e;
}

.card__text-link {
	padding: 30px;
	text-align: center;
	color: purple;
}
