
body{
	margin: 0;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
}


.contact-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 2; */
	padding: 0px;


}
/*
.contact-header{
	justify-items: center;
	align-items: center;
} */

.contact-title{
	letter-spacing: 10px;
	font-size: 4em;
	text-align: right;
	margin-right: 1em;

}

.adress{
	text-align: right;

}

.contact-form {
	padding-left: 10%;
	padding-right: 10%;
	padding: 10% 10% 10% 10%;
	border-radius: 5px;
	box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}




input,
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #ccc;
}

button {
	background-color: #ad97ac;
	color: #fff;
	padding: 10px 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	border-radius: 10px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 13px;
}

button:hover {
	background-color: rgb(120, 107, 118);
}
